@media (max-width: 1120px){
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .container .content{
        max-width: 350px;
    }
}
@media (max-width: 840px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container .content{
        max-width: 400px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main .main-img{
        max-width: 100%;
    }
    .main .main-sobre{
        width: 100%;
    }
}
@media (max-width: 560px){
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container .content{
        max-width: 500px;
    }
}